ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #693100;
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 5px;
}

li button {
  margin-left: 5px;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background-color: #948107;
}

input {
  padding: 6px 10px;
  margin-right: 5px;
  border-radius: 4px;
  border: 1px solid #e02c2c;
}

button {
  background-color: #b87148;
  color: white;
}

button:hover {
  background-color: #43260a;
}
